.entryComments {
    color: #5b5b5b;
}

.ratingImg {
    height: auto;
    width: auto;
    max-height: 28px;
    max-width: 40px;
}

.ratingImgUnselected {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.card-footer {
    font-size: .8em;
}
