<div class="card-block">
    <h4 class="card-title d-inline" title="{{tea.type}} from {{tea.country}}">{{tea.name}}</h4>
    <h6 class="card-subtitle text-muted d-inline" *ngIf="entry.fixins.length > 0">with&nbsp;{{entry.fixins | lowercase}}</h6>
    <p class="card-text">
        <span *ngIf="entry.steeptime">{{entry.steeptime}}</span>
        <span *ngIf="entry.steepingvessel">in a {{entry.steepingvessel | lowercase}}</span>
        <span *ngIf="entry.steeptemperature">at {{entry.steeptemperature}} &deg;F</span>
        <span class="card-text entryComments" *ngIf="entry.comments"><br /><br />{{entry.comments}}</span>
        <span class="pull-xs-right" title="{{entry.rating}} out of 4">
            <img *ngFor="let i of [1,2,3,4]" class="ratingImg" [ngClass]="{ratingImgUnselected: entry.rating < i}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABaCAYAAAAvitHLAAAABGdBTUEAALGPC/xhBQAAAAlwSFlz
AAALEgAACxIB0t1+/AAAAAd0SU1FB9sHEQcaH9bCSw0AAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5F
VCB2My41LjEwMPRyoQAAKENJREFUeF7VfAeYVdW59gxlYBCYYXovZ06dM2fmnOnDdBh6nwEUEYgg
RaRJR4piQWKJUdAYY270Ro0FNTHG6/P450ZjSWKKiQnGxBKjiTV2YzTCrP99V9l7nYGIBDDeeZ7v
2fvssvZa7/769+1JSDjGvw8++CDx7bffTvzb3/7W74033hgAGvTKK68M+ctf/jLshRdeSHvuuecy
nnnmmUwQtyOeffbZYTiW/PzzzydhO+Dpp5/uT/rzn//cH/cM+Otf/zrw5ZdfTsJ2ELaDXnvttaTX
X3+dNFBT0quvvjoY50566aWXUvCMdIyVibGyMXYOt3/6058yXnzxxREYYxjuT8bckt58880Bb731
Vj9sE3F/IueNuSbimYm4jvNP5HkQt/LYe++9l/jLX/4y8Rgh+vTbP/roo4R33nnHANgfExnISXPy
XAQXB+By/vjHP5KyQen4PRyLTcZik7A/ACBIAAGIBJDggQZjcckAKpmAkTAuAR3MF4Tzw3FPGsbP
xjj5GKcQVAwq4m+AmM3n49qhAD4ZwA3E3PoTJAKHZ0kgMX4/bPthXEm4lufNfiLX9tRTT51QDBMA
onwQH4xJSi7UHJKKhWQCrFwAV/CHP/yBlAvKwO/hWGwyzg3E/gAsoj+uJYgDAdwggod9ctlJAOsk
AEEaQsLYQ3Fcjq3BK8UYXowbAPkxrgfHCwkiriOIJ2Feg8iFIHKZBInA4Vx/TQOwlfMg8bxeTyJA
TXz88cdPHIgHDhxIePfddxM5OTxUciEmkazFOB2LIYBFENUSUDEoH5QJSsFxCSLBw3X9wTUDsOhB
oCHYHwouG45tCsYaTq7WxGPkvhzcW0zQMFb497//fRW2lfgdBog+ggjuzuS9lApyIedHwm8CJUHD
mFQZSVQdIErQAIAmQaTIa5E+cQBy5Pfffz+BD6IutLkQAIygXqJoYWFlWKQPVAaxKAJlYz8Vx5Nx
fiC2/QHKAICTBEomeABgBPUc9tPJTYYIjOa+Mg1eNcZrIGHMWowVIYgYL5+iTlGmZFCPEjjQQBxL
IrdjzGQ8bwi3VB04R51LSSIzSBABbOK+fftOLIhQugl8mGZ9vsnBmNQwLcYFFDMsNoQFhrHQIMgD
ysXvEeRE0ECcH4DrkwBQMrbDAUAG9Rz2cwBEFiiThPPkviLcE8A9UYzTBGrbv39/B7atGLMeIFbg
mlKKMoBKwXyGUI8SOBoogEXghmIsGjzq1OGY71DqXRouGkUDIHXm/ffff2IB5OiwyAlU0kaUMZkh
mFgquIVGxINFlWOBVVhoDBQB+fA73wIxCYtOwqJpqVNwHzktT+u0Aiw0D5SL8/kEh+OR4zR4Y373
u9+Nx5hj+JvH8cwg7i0gF1J3EhwCB0BPImAYhxKSQcLzyOmpVD1UQVgDQXS4EOOeeADx5qQoU/Fq
PUKDMBQTpfUtpKLXHFOPCdVjoeQePygPx1NpWLDoQVjQYBCtdRaokGDhtweLLAEVYTxa2zJyGYCi
6HZivIm//e1vpwDEKdgfi2PNOF+JMUsBeha5kHMB1w2jaqG7Q/2M8wWcG55B651F600jSJEnF1K3
4/rE3/zmNyceQMOFBJFuAfUhRRmTGo7JZgGcUgDFRddxgVgoRS9GEHGcxiYFCxmi3ZxhWFgW9Sf1
GYjcFACAXhL2/bi+Evc14v7RGGsywOsmYX8Kjo3CuVrc59e6MIPAad+RerkQ9/Ml+Pliuc+XpUGU
hgcA0v3ph2cl/upXv/p8AORT8NYSyIUaRDrHyZh4KiaYh8n6sLAYQBxJfQUaif0ojnExdIjJeSdh
0cOwpQNOAAOgClAEx8JYUBDbEBZNy2sAJPf1gGaBZmDccTg3Etfw+mLqUYKDcfPoM2ppqOQLxPNj
fLHU0+REGi+qH210+oOzE2+55ZbPD0DDiVDYxlmlf0dQ0rQoh8gdmHiLBrERvyNYFJ1hitYwAogt
RZ8iRg6pBFVjP4ZFVoJoaaO4px7j0HhMBOfNAHgzse3G70k43oZ7oriWXFtIfah1J40ZLXcTrm0F
NWO/DnMo5wujPuR8wQCcd78nnngi8dJLL/18AeTT8CYTyP708bCfhIkNxQIysagS6i9yDxZCLmwh
oDgWJGAEWlthKnnqKS+IANIw1GOfohnTVIf7WjAOjQf13wwN4GQc68Q5XhvCcymiXtxvwGvBdaMB
+Fhsu6hS6EvieupbhoN03gdi2w/3J65YseLzB5BPhEVLwMQTMYn+2A7CBIdRVAGYhxMGNRFEihuO
RwkWrTYtpCYakhIcD2PxBKsJWxKBrCFhvwHHaXkJ4iQAMhX75MDRON5I8AkixRm/KbLUv10Azxie
CfjdrkXZQ9VBZx5iTL+034MPPnhiY+IjvRq4DgmYOEEcACKIw2k0sFi6MRQl6kFyYQMWSf+thPqK
CQntNDPWDZIDcW8zrmvj1oCILUGk78cxRmOs8RRp7HfxmOZcinu11pm02hMA4FToNxLFn2qAurAE
z0+DwaHL05/ch2NHWuKJPX/11VcncCKYIMVhABaUjMWkYmL5OEanugYLoFEhkDUUZXBhEcCjE03F
b/QgASC30sJSPJu1OFMnksuqyaE8h3HGYjsGv9vJsdSVWmW04TldGkDj9tB/pCqJ4BrqylRw3iBQ
fxxLvOOOO04sQEcanQACBL7JRCyEb5VJhCH4ncYJY5J0sOs0iBTpGK0kFTqAoeIvplNMfYZz7bSw
oPHUcRRfiiitMqicRsMCsYtg4zdBJ3cySiH3EcBxIALH7SiM14BzfAbTYsNgPBij93vggQf+s+Jr
wMXk6EslYoH9QQOx2MEUZVAWFlaK8xEuQitzWmWCyAUx3vWTO7TVpO4i50wjF9HSUndivACNBEUd
v2s0p1Kcu0CjCBzuJ1CG+JvEF8KXRp+SupZqg75rf4yf+POf//xI/PH5nKcoYDL9yIGgJFAyJkxd
mAEqwAICRh9ia/xDimwlF4fF1EJXdTz55JOTQLNAp+B3DzmIwGO8coINop9J/5DqgNZ1rCYaGP4m
gASNVpfA0Q2iH+rDiyX3MV0mue+RRx5JBAd+PgAd6SlYWOKvf/1r6kEJICY9BJSK31kgZmfIZVGK
MRU6iKJGIBuxbQTHtQK0cRijG3QafLPTsZ2HEKsbx0fhfDWuC2IbxDaKbTOI8fFE0CS9pcgyapHj
4vm1AI7g0UAxnBsB4yG5j87z7bfffqRlfX7nMdkE6kBMrB+2A7GAIaARWFguFuTBNgyqJVAAZhzS
6dN/9rOfzXz00Ud6Hn74x90PPvij2T/60f8uAC1/6KEH1+HYxkcefWTdo48+euZjjz126sMPPzzx
oYce6oDL0frwj3886rFHH5v805/+dDZoLsaZ+4tf/GI2QJ/GlwDqwDxG4lkMKSm6ZQAwm36q4T7M
4fMD59OedNklX07etn1L9so1y8oWLp4bXbTktFHLVyyauWz56YvPXLFwy6o1yy5Zv2n1Neds33Dj
jp2b920/b9MDoJ+ce/6WJ/B7/7YdG5/esm3dHzZtXfssts9vO3fjizsv2PbShbvOffGi3ee9cMFF
O57dft7m32/YtPq3K9cs/TXGfOKsVWf8eu36s57cdM7Z+zdvXfvU5m3rfrdl67pfnbN9/U+2bt/w
vxjznm3nbrrpnG0brt60Ze356zesWrn0rNNnzTltRnv37EmVs06e5jl13qzsM89cPGzF8iX9Pzck
L7lkV9I529ZnLF+5KLhizZKeRUvmXjB7zpS7ek6e+LPumWOem9HT8daM7ra/d89o+Uf39OZ/zp7Z
9slpc7oOLlow8eDKpdN716+a3btt/TxxwdZF4ss7l4vLL1wprti1SnxV0kpxFWjvl9eIay5dJ669
fANoo/jaZevFnt2rxRXnLxOXbD9d7NoyT1y0eZ64eOvpYvf2M8TuHYvFru1LMOYZ4txNp4tz1s0T
G1af2rvyzJkHF31p8oE5s0d9MnVS/cddoyMftrWH3mtpDb3W1Bx6pr4p9HhNY/D+6obgja2dtReN
Htd8Rtf4lo6ucc0Fc+f2JB9XUDdtXpO26uxli09fdMoN8xdMe3z+/IlvLpg7+p9nLejo3XzmWHHh
2inisi09Yu+Ok8U3Lpgjbth1qrhp91xx66XzxL6vfEncdeUZ4u69Z4rvXbtafP+69eL7128W935r
u7jvxp3ivv++AHSh+MGNF4h78fveG0jni+9L2inu+a/zxHev3y7u+vpmse+a9eL2PWvEbXtWY7ta
3LF3jbh979lqu2eVuO3KFeI7VywTN126UNxw0Rzxje1TxZ51nWL3slqxY365WD+7TKyYXizOmFQo
5o0rELNH5YpJLTm9HY25vXW1+Qei1QUfxmo9f6yu939rzLiWrOMG4rwvzbp4xqzx/1y2oEvs2TFH
3HrFEnHP19eKH3xzo7j3+g0AZR1+ny0B+u7XVoq7r14h7tq7XNy5Z5nYd+USccdXQdxeuVTsu2q5
2Ld3lbjrmrXi7us2A5xt4nsA6Xvf2im33/3muZLuvn6HuOsb28Wd120V+76+Rdx+zUZx65614pYr
V4ubv7pS3HzFCknfvny5uPHSpeJbu88Q1190urh25zyxd9tscfmGyWLXWZ1ix8I6sWlOWJzdDfCm
FotlkwrE4vF5YuGYHDF/VJaY254hTmlNE7ObU8X0plQxumaECIezDlRW+7YcNwCr6wN7o3W+g3Nm
d0LMVojbr90Mjtgk7r52g7jra+sAxtnizqvXSGDu2IPzVy4Xt4ETbr1iqfjO5YvFLZctEjeDK266
5HRNC8XNly0WN19+pvjOlavErXvXituv3giQNonbsL117wbxnT3rANZacdNXV4tvf2WluOHS5eKb
u5eI6y5cKL62cwFe5Dxx5dY54vLNs8Ul67vFrrOniQtWThLnnjlObDmjQ6w7rVGc1VMpFk/2i/lj
isWcznwxuy1H9DRnAagMMbk+TUwAWGOiKaKzcrhoLR8qan0niXLPMFFSltYbihRffhwBDK71lud+
4i3PEf6KPBGpLhFd4+rEqaeMFksXThbrV8wS522cBx21UFx1wRLxtYuXiet2LxPXY8HXX7xIcsY3
LlwA8Z4vvnH+PHHdzrniuvNPkySPX7RQXL8LHLRrsbjuokXi2vMXir3nLRBXbjtNfGXLHHHpxlni
4rXd4oLV08SO5ZPE1qXjxKZFXWLdgg6xem6rOOuUJrF0Zr1YNL1aLJhcJeaOLxezRvvE1JZiMaEh
H1yVI9qiWWJkJEM0hNNFTShdVPrTRLl3hPB700RZWZoo8qSLEl+mKPVnidJAdm+osuSrxw/AhuAp
AO4jb3m2KAuBACTB5L4CNV+EKgtFOFokKmLForKmRFTXe0VTS7loHxUTXWPrxISJjWLKlJFixrRm
MXNGszh5ZquYM6tNzJ3dLk47uVPMnzNaLDi1CzRazDtlFI53iDk9reLk6bh+Gu6b1CCmTagTk8dV
iwljomLcqCoxuqNCtLeEROvIgGjC8+rrPKK2xiOisRIRqSoS5ZFCESzPE77yXOHlXElBriFHeALZ
AIpgZYkSvwKuRBOOEcBLjhuAsYbgeH8k/+8Ey8uHy0moiZitN4xJkjS43jCu1cd82JL4W12vgDfk
C+fJlxCsLBChKiyahP1AJF8RzknCPuYhpYDE+yAZcmxnXP0sX4U+TvD4suULV+TRaygFcAq0TFEM
7iv24je5MJB1EAAeRx3YEJzqq8j70EygDAASRE8wS28VV0rSb1iCQxDl1gXQcK5ZsA2oAzTuMYDj
uWpfA272fXpsexznmeZ5AM8Ap+arqJREziNooCJvhgTPAdGf9Uk4Wrb8Uzlwx7btiWPGtQ1uao5l
jGyuDlTXlNdXVQcaq+sqauoaoqEoFEVLW33y1MkTE6tqfV0A7wM+1JmIZn8jBhJUcJY5r4B0OdXm
OB53rjPXOJyrwDJgEkDFbRZ3WypEPTNLvziXs4102HOSczWiSuDKMg5Lxd6sjyurA3MPC+App/Yk
Tp4yJn1ka3RmVY3/675Q/iOl3qxnizyZrxaUZrxeUJLxcmFp5gsl3uzH/KHi68ojnnnV9eXzISrv
lAYyoTtcENVkjOJV+oTnDajcN9waD6gC1izO1qtxqsCIo8XBhjMNJ7vqxH1h9suRHOcARxHNcjiN
ABZ6QGar9wHgh1U1oYmHANgze+rAjq7GtkhN2X1Y0MfFYN2C0jSRV5QqcvJTRFbucJGZO0xk5Q0X
2XkpIrsgVeQXj/ik1Jf9Olj8EwkWQFQTInBaZ9ByaXIUsbRmClBX5N1FGo6UAGjxN5xHvWZEz+FE
iKzcBzdKXaqNmNGntijLMY24SiPhiqsSWcV9haXpWL9FBBBUVJb1fmVNsCUOwJknTxs8sj22Ckr6
Db750qBSmoUlaSK3MFVkA0CCl5lDAEEAk0Dm5A+XAOeXjJAPLfZlyAk5b1XrEeoTvl0DoOJMBbbk
Ws25h3CiZUwUqBY4WpQpwkqPanGGgTAvwAbSUQ2wsIbzHPCo4wgc14x1KODSRL7eFgAHA2ZRWeZb
5ZXeqAMgxHZgU2vVxkBlwQe0TkZvYJG9hfB/8opHHMwpSOklYJIDJZDc1yAWpEgQ+cAibzomokDk
Vu5L8GxSb9yIt63A+4qcY7mNjovjLlcXGkPkcqFrxdWYyjuII+2iSANhg4c1E6z8EhIksBhAYpuv
t1RnHl++VwI4ZdqYhOb22JRgZeEbeHivUsbZvVS8/nD+qxXRsmsqot75/vLiZSVlOd/ML0p/Ftx4
ICtXiXQWRJninVc0QgFYli5JWjALQGPBzGT52zimalG2+2MZGEt84wyNdjvi3R0lwmQCA3xfDrQN
FLnfzEuKrNZ1htMIIJhHkwtkiS/7ubyizBwJ4OTpY4dHqj0/xEMleNo/6g1HS55r6agZ097ZmNza
Xp8QrvQklkfKkmE4AqXevCvyitLepViTKOLQhQ6AhQBQvtG+Vky/ZQms4UhHjAGiFGXFJY7OMu6P
5Zi7ftvhfEYFngLR+KEW59niq9WLVFUSPJfzyHVkitwiqDASf2sq9ef+NKcgPU0COLItNg0O6Pt+
7VhSn8BJfae5o2burJOnHragEqkKDAmUFy2BRX43F6LLt5RfOkJOgOBJXQiQFIDqt03FZdqnkmKs
9KJtmW0xi/MHLWdXuiG272cc9T7ujOE4M74KxVxdbIwGjYMjthqoXAJYSBAVKW5MEx5/3ncz81NH
JEzvHt8vWu+7A6Ap0cUbw/7B6obAPROndA3+NEexpi7cPxguPq/Ik/FRAYEDGfE1jqcBTboCtF6G
JMCuZ2/0oQQSJF0d7YQbAIwrY6yv4kKqG9cJ7+vCGPCNY2zCMtvqOkaD3Kf1HUEyoNkAkhMBYm+p
P29vRm7KiITxkzoLYXVfMY4oJwDu+xDct/CzxHkNTbHh/vKCh8BtvTQeBkAjvpIjSVDIzj6Blq4A
SHv3LoCKIx3rrJ1oJ6LRcbYT1djOtcOBSmylIdThJEMzJ7rQL6kYHoEBz3CfEVHDeTlQTSSCmCM5
URqSA55A/noY0VQaj8lMAviNQ4oJlVcVvTp67Mj6zwIgr4nWBafgzb4twdNGw4ivAx4B1P6UAtIV
aRNf2la6VMWbbmyqnV2pI02MbcRZuzZ2nG0AtONxR2y17lVWV0mGEl2l4/qCp0BUokydCMPyYbCi
dEZmbkpqQrTWtxHgHfTRn9JvMxwtfnr8xPbSzwpgZ1fzwGBF0a0A7aCyvGpiksNsDjT+lAWk0pXq
nnggtZNtJSUcbjKuiMVhfZMP5NC+1xsApdXVYZptdemiEDyCZUDLKbB+az2YX5LxTrjK2wwAUxIq
qz2XA7helUVR6ZxwVfHvxo9vLfqsAPK66rpQuTeY94wJvmkk3PBHcx9cAumMWg6pzYl2wG4UvYmt
HddDgqbAOSRZoTM4/zLGhfU1rpXkPMtlkdynAXLAA5DZDvdBjKX+S4MkZb5YUeUvTs8elpJQVePd
A/B6bQ6ECD+PAkroaABsaatNjMR8p3oCOX/D2+11XBit/wiadEQ1FQBMWy8anWgyHiokdLkwzvk1
es12ip2kxKHA0hghASqNU1+fz1hdJbqMuDTHkfMQpkqy9B+vK/XlPhaJBZIRRAyH/vJ/WTrPUp8w
Js1icvHthuaqrqMBkNfWN1UlRWLeboAIfahjScevigeQQBpn1daJjn9ouTU6A6wsMy20JcLGMJhI
Q+XyVHLAToja4mu4j56DjDT6uCxSbKXougC6bgyy04H8GydNGdMPVnh4Asp2a6ADD1B0PUgCEEBM
9J8omFx4tADy+rrGyhxvKO+XxjGVIPXhPpcLKc42Jyq9KXWhTGRqiyw5UTnZMttjA2gyO5x3HGfS
DbKzLCp0LDK6z/L54rmPoCkAmSghGQNCEDH3AwBw7dRpYxMQ0g5LaB9V2xqI5L2vdIxyH7CIXuiz
J+DnpR8tiE3N1UmBcNH11IFONsMAyDiSDjdJHlOWz+ZEx6gYB1vXIGR04iQcNBdqTpOibiVunfSU
5lg3C+QmCg5neaWoauBy8hV4DoB0ohmqlqS/FwqXjCMu4MChCVOnjRkMq/tkGWsZmESJTl/hwg+D
4ZLTjxbAts7GRMTNSwCgTEIUIjaWHCjFRIOnY0sZ+llGRTniKoKRYZ5OMZETZcorznAQRJPxideX
ttPsRB+MPKTf5xoPFefSeKQpPWe4ToNHEJUOpAFRUQiSCC9UxgJ+CWDO8JMSurvHI5vsvRwAHqQI
cPLSnBem9hZ7svdHogEV7x3FXyTqrUV+8EPjA9oAcrJ8k9KfsrhRAWmiGSuDo8FzUl3GWOhygVPw
sQyO5EarIGSSusqwqWf09fsUgJrjCBzie2NEcgGsFF+GcIG8B2vqK4YSDrgxQyQsze3V7TAkb5P1
i8EBvJA35xakHvQGCnZFqvwDjgK/hFhtKK8skPuMnKytAzVgMp5UIZGTHjKiLLlQO9lOpsbKE8rU
PEHUAEqutPOJfTLeTlXN+KfM89F4aMfZGIe+AErRlRyoHWidxvKXF+3pmT2lH/FIzxmu2jum90wY
VFHt+T4m08tkKBeD3B8yzsywpL0fKC+Z3tRc+5m7NOsbI0OgQ+9U6XCdzdXWTubTdJZDcaHWi1oX
mnCP96rwzkoyaONRJgFVpIweDYsFrB1P63JC38iIHOhkW7SbIkHTpPSfssR0bThP6M2PA+Fipw4C
I6JyBTN6JsEFqZgGLnzfSaBicSZVVViS+WywvKT6s3JhS3tdv3BV2VqnniC5UBkMA6AjvhrQAv2G
uTBGL+Rek4g1TnVchU8DqMoHKrPN8/Qm3DICXgCTuTIqcmNxV3x1lsUCkKBlG91HKWT4po1ecVnW
yyiqxQwOGTkpgxxMxk1oT0FO8DaIw0FZB2Ean29B6YLeotKsH4UqPCoDe4S/tvaGhGhNsBFK+6M4
S6zBInhuktLoQuUnMiGrxNg1KDIuNv5fH3F2XBvNlbZIGyAl9+nQ0oBnpED5esp5dsQ2zniYJGo6
Uli5j9qeSXr20CQHipmnTEsY2RKNBsL5+/lgqQutWggz0ADxHoAoLdCR/moaKtLhDz5FfUZQXEOi
jYgWXQOk4UxeR71p0mCch+QiY0x0bGxEuO/WLk4dAqCOipQkKO5TPp8C0Yiww4EyeWBebLqA+F41
dny7Yw/gxgyMw2HihI5+NXWB+YhK3uGb5SKkRZZsLTPPBwpLsv5fMFRSM3p066fqxMbm2MBAuPB6
cpIEkMUZk2vTVthYY9u9UXGy6kORYqzdGlXh0/5fnD/o6kMJprHG0gdUJQPDgbb1NQCq0M31+dQ6
lS5UrosqKhV6Mj8ORUrnzJgxwcEsPWdYPIA8M25C29BYfeAyxMf/oAUj6xurjIISi0oHC4rT9/tD
Rd3RWNBl4T4s2dxcnVgZ9c1TALrW2ChuBzz9liWIeNuGAxUXWmJs1ZaVS3MocI5fqHWitMAGQGPQ
tAU2/p8EULsvBE6B52ahTTEJNZCXYnXlFfYyUZ08vHcyblLHiJrG0FdgVD6SIDqciAfIejDKmIUj
3izzFZxbEfENbWqqOUSiW1tqEhqaqrwl3qx/mJSWjDiMQ92XCx2/UEUmRg8qEVbWuK++U/Vk42C7
tWVjVExrBu93PAIZ/+rMi2M8dNjW13jo7AtfqjeY/z+I9VPshWbkpP7r1t+JU0cPrW+OXIz+ko8V
iAy69dsiiKgFw0/6pMSTe2+40huOVYcOEenmtrqhvlDBU7Y7YyYfz4HKsTZujaMHtSGJ8wdtn0+C
p90XyzckgE6GW/e1yNSV9klN0tQYDmN5Xd/PEl+qFOjx8qqyrTN6JsYBlpY99NN7p3FDUmNL1VqU
O/8KEHsZIxtxJoDsTGBpEyL9si9QuLwqGlCeuf6rqatIDEaK9/I+ZY115tfyAx0gLY4kyCrVpZIL
xh+USQSTPDCVPM2BMhkiQztTKnVLqrYExHGfNh5ShE34ZpIHlvEo8ee8DfFt6CtmWZlDjtx8PmFy
Z7+2UfXRylrvbbBwH1G02IGgOhVQE85NlbVhcCNENXtfOFIWsR+EBpzZuAf36dS5iYt1SCcVdR/i
S3K40NSVtRU2LSNOUZ4ZJJkIVjVlCSDBtXSfMWS2EXNTVVb4pp1olbpXyQ6qE3954b6m1uqT+gKY
mj9URiRH/OueMT6hc+zI9Jr60HpvKPclKc4EEeVMRivkQtWhkHIwvzj9+TJ//sbKaFDG0LUNkSLo
wZdUi4SKd03+Ld+UCg8DoPEJTXJB9eSppKjTc2MlGUzxXBbKNeh2OZUczTnTWKk6r/H9qP8s51mX
MI31BYAHI1HfoklTxxwCVkpGymcD0CA8ZmxLUn1TuDNUWfwAFvRJocftmVEtH6ZXJvUfhaVZP/SH
SibU1FUOgwN6r50TdHxCDZzhQgKqIhQVsbhRicoRml4bA6CJTJwKnU5vSbfFcsb5EqQDrVWHWzTS
Ol0mD7TrogEEI8h7YH1fqWuM+A7HZenpmUcHIAeZ3jMpsa2zvrAy5t3t8We9ycYjiiBjZwOiBrI3
tzDtbbSC/HepN/cWlgJNBNI3Hs7VTq0UZZloUCDaxsTpr3G6vUwbnclQq4QqQbV9P2PAlPi6BfK4
3J/WgW7lTUUfBNAbKrivYWTVYb8JyckZ/pnzA4e8gK6ukYOq64JTvcHcJyEeB+TkdAeXA6RqgQOQ
Iz5ieszWda4Yu8WcOMdaZX+dqMTNUpt+Q7sP0coNMu9H0i257JJQertP0chKGjjRiC5d6syzBBDi
u65rXOthOa2wOOHfB5CITpncmdDcEvWEKoq/jbf+d9VHqLiRvqJsPALJPsJ8AIlJO1ymWyRc0Nw8
ocuBygFnOBjHgbotTjnUVseVBE6Racs9JPfnJE5ZcTNpe6UHVeFcRx8AHMmDDxBRRSdM7DisnUjy
HCOAZtRRXS2Do7XBpWUwMPC3esn+yjVQYs3uLQIqk5TgUltUba6zoxQlwiqjbWdmDGeZ2NjUSkwr
iA2e7X/mOc6zyjCT67K08bBDNwMguc9XXvizad3j/2W0ldDvOAFIIJFkTKwfWRUJVBTdj/DvALlR
WmnGlhJA1QJnp8edjAzF1dF/burf1I9lglU3eZu6szEkdv1YRh60wlbRnMlTk/vjfOiiqKQBAITh
IJH7TP+LCt2kD/oJXLCzj+CiHJsI9x18VFczMjo1KRVVZVtK/dlvQXzgeCvdqDPcSkS0tTUZaRUH
axDNedWD4oZ1TgeD1RYnO2EzHNfG+RzBdJjaqXu6TH0SBwZAN/Z1jQdS98+NGtN8pOaC4wsgAe2e
OQkgVg+M1QUn+0J5z0H8eqUP6BSVrMqcrQf7RCcm+Wqnt9xmzfiOV1nzcPr8TDuJdl2ol+Osr05d
6cSB4UbqP/ViJfcdKK/yXNUza/LxB+iIXre+ANFLv5qG8qi/ouBhiNQBu5ijfELlqshJG/E1tRKT
6o+r2OmasakbO+3C5vsNxZkE2SkjOCk0nfszRiMOPKtxSItvsTf7dfh+zZ91rSf0OiRWCxAP/xc4
5AMXRF0LjkvxK05RRkXWYrQvqAvvBE7nBp0uLpPvM9znJA50c3hf34+W1op5TQLV1n/Ql72oa989
ccro4/s98LGgjLc5LFzl2YFS45swBkgsuK1uKiqxsjEEz+ZAnUs0NWO7AckAaTjPLhwZx1k2DGn/
zs46mwRCfNWN+cfM96pqArOOZb0n5F7oxUGoF59RFsz7I78nYYaGRsauUbgFp/gmJFUnsfsJtV+o
2z/i2tV0BtyOPOxWNbvyZlo4bNcFbRs/bR/VkH1CQDjWQcvLPYkoNpWHKkouLvXnvObqKt0/Y0qe
OjutOhfUORfA+Cy16UeMaxK3OiGM5bXT9or7dMlSJzSM64KuinMndMR/P3Os6z7u9yNPOAAivVNz
oVt8N8BpwyIzMpqcQpNVrXNiXt3ALsM223CYRkmraKTS9rrrwEkcKKe9xJfzCj5Zqz3uCz7eA6IU
wO6FTviK78a3f7jtHgW00jaAGji3f0bXja2SpRu2KZ0q/U/Toqarb3bN1+l51kV9GI99Y8a3HZL3
O97rPy7jIcObhnT/rxwArdKnndIyIDpGxOnyN6VPXXyi7iM5XxaZsqVOmFpdB6aMqYrmSt/CeHyI
cPTkbqvqdlwWeqIGQaK1P/TN+fFirABwOrZ0SkvpwPhvTYxLY/qw+6bt3Z4Xq2RpZZyV6+JGO95Q
/i8bm6P5J2q9x33crOxhCTUNkabSQM67Jug/5MtIx5E23Qr6ox3GxXEf7vRp2zBF88OIsNuuazru
OXbmQbzMnROmjD5yjeO4I3EMA9Y3xQZB7/zE4ULd0W++kjRFdllgMsV2cmJcyl61gZheRLfrwNZ/
bp9zXMpKx9r4bOu1uqbKqmNYyn/uVjSmr0EPzcfxXzRpMdafQ0g/0PpQx1zriK/jmJsvKlW9RhkQ
1+KaTivzzZuqu2SIYKTkVvh+cRXF/xwiR/lk9FQX+MoLnna+KzH1W8l1Kq495CsnLcKuGJumSdcB
V0UjzXm6y6pvyoqcDv/x49rGih4Uxo5y5l+gy5H52IuFIOGgvqUzgKnCkPvBjtGVdhuwCeNU667p
RTSdB6pALkmHi7bh4MvBy9vf2Br7P4weXiTchw58GvFm3Pd1dgxsA9k3oaATCIaDpS/YJ4mgAFS9
0CZhKit+CCcj1b7NXeNajr669gViwISGkdGhwYrie8FNB22D4nCgLlEakVVN6LoZ3Xaknf5nnaCw
kxSmN1E7zWz1gOvyUsfophw0CX2R4Pj35hKtDUUhTvy+RLaBxNV1rY5V9U1dPIDymHRr4hvI+zax
u33YMoeIlL1vN3r8/r0Jf9Huqq6L8FOxCWXB3D8bUVbOsuqsMlU5A6BqujQ1YPcDR9NjLbM8Orox
7XXynBrzE+Qof9DaUZf5RcPhmObTODI2oCLm7UGH/36AJ1uNHY6Tvc6mYdLqvtJJVecrUVpxS5Rd
C664Gm0m7+G/rn2rqTVWeEyT/aLejG8wEqti/rA/VHgt/MNXQAdU4tTUQazufdkzyH4Z6980aSfb
cKL+9wO9AO5d6Lwf41u+Oe2dDf83Egb/7kvKzBySEKsJDaiuK4+EKku3+sOFj0K030DxiF2zB1ED
7pX1YP15F79Mcv/7UGYvQAf3Zv4TRuk9XzDvqXBV6VWoz4yFyA6bMuWov6H8d5fxxbivtqEyIVod
GtDUUl0Ch3dCRazs7HDUs7ci6rmzIub5YThW9hiOPY79R7C9D+e+GY55tlfXh05u62yoxH8cGTxm
bNsJW8z/BxcZDedFNB2pAAAAAElFTkSuQmCC" />
        </span>
    </p>
</div>
<div class="card-footer text-muted" title="{{entry.datetime}}">{{entry.datetime | naturalDate}}</div>
